<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            LOGO
        </a>

        <ul class="nav navbar-nav">
            <li id="home"><a href="/">Home</a></li>
            <li id="about"><a href="/login">About</a></li>
        </ul>
    </div>

</div>
</nav>